{% extends 'base.html.twig' %}

{% block title %}Trip - {{ parent() }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
        <div>
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.start_date) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.end_date) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.customer_lastname) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.customer_firstname) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.customer_number) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.save, {"label": "Add trip"}) }}
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
